favorites=chromium.desktop,thunar.desktop,xfce4-terminal.desktop,codium.desktop,xfce-settings-manager.desktop
button-title=Nexus
button-icon=org.xfce.panel.whiskermenu
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
item-icon-size=2
category-icon-size=1
load-hierarchy=true
hover-switch-category=false
favorites-in-recent=false
display-recent-default=false
position-search-alternate=true
menu-width=520
menu-height=620
command-settings=xfce4-settings-manager
show-command-settings=true
show-command-menueditor=false
command-lockscreen=xflock4
show-command-lockscreen=true
command-logout=xfce4-session-logout
show-command-logout=true
search-actions=0
